/* media query para mobile */
body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-weight: 400;
    align-self: end;
    padding: 50px;
}

#header-index {
    height: 100vh;
    background-image: url("../public/img/background.svg");
    position: relative;
}

#header-index {
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

nav {
    grid-area: nav;
}

nav ul {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: end;
}

nav ul li {
    padding: 50px;
}

/* nav ul li a:link {
    text-decoration: none;
    color: white;
    transition: .2s ease-in-out;

}

nav ul li a:hover {
    text-decoration: underline;
    transform: scale(1.5);
}

nav ul li a:visited {
    text-decoration: none;
    color: white; */
}

#titulo {
    grid-area: titulo;
}

#mas {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

/* media query para mobile */

@media only screen and (max-width: 768px){
    nav ul {
        flex-flow: column wrap;
        align-content: flex-end;
        padding: 20px;
    }

    nav ul li {
        padding: 5px;
    }

    h1 {
        padding: 20px;
        text-align: center;
    }

}
/* =========================== */

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 0px;
    position: relative;
}
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
}
a:hover:after { 
    width: 100%; 
    left: 0; 