body {
    font-family: 'Quicksand', sans-serif;
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer'
    ;
}

h1 {
    font-weight: 400;
    align-self: end;
    padding: 50px;
}

#header-index {
    height: 100vh;
    position: relative;
    grid-area: header;
/* Background */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1003)'%3e%3c/rect%3e%3cpath d='M840.02-38.99C597.05 71.02 573.63 827.09 239.4 842.74-94.83 858.39-194.48 558.71-361.22 551.14' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1079.62-174.1C858.18-125.03 829.62 408.59 428.95 458.14 28.27 507.69-40.22 773.34-221.73 782.14' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1325.61-36.25C1053.5 83.56 1028.3 921 647.83 940.98 267.36 960.96 153.38 665.66-29.95 660.18' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1544.33-29.47C1276.85 13.66 1135.83 661.23 710.58 662.9 285.33 664.57 103.39 313.87-123.17 306.5' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1322.33-120.98C1057.15-11.65 1029.93 787.04 649.94 808.7 269.96 830.36 154.1 595.33-22.44 592.7' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1003'%3e%3cstop stop-color='rgba(20%2c 74%2c 144%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");


}

#header-index {
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

#titulo {
    grid-area: titulo;
}

#mas {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

/* media query para mobile */

@media only screen and (max-width: 768px){
    nav ul {
        flex-flow: column wrap;
        align-content: flex-end;
        padding: 20px;
    }

    nav ul li {
        padding: 5px;
    }

    h1 {
        padding: 20px;
        text-align: center;
    }

}
/* =========================== */
/* transiciones hover nav */
#nav-inicio ul li a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 0px;
    position: relative;
}

#nav-pages ul li a {
    color: rgb(0, 0, 0) !important;
}

nav ul li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
}
nav ul li a:hover:after { 
    width: 100%; 
    left: 0;
}
/* ======================= */

/* #sobre-mi {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

} */


#foto-perfil {
    border-radius: 50%;
}

#ver-mas a {
    font-weight: 700;
    color: black;
    transition: .2s ease-in-out;
}

#ver-mas a:hover {
    transform: scale(1.1);
}

.nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 30px;
    margin-right: 30px;
}